* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    background: #182c61;
    flex-direction: row;
    gap: 20px; 
}

.calculator {
    width: 240px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-items: center; 
    align-items: center; 
}

.calculator span {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #eee;
    font-size: 1.2em;
    color: #333;
    font-weight: 500;
    border-radius: 8px;
    transition: background 0.3s ease;
}

.calculator span:hover {
    background: #ddd;
}

.calculator .operations {
    background: #393e46;
    color: #fff;
}

.calculator .clear {
    background: #fd7272;
    color: #fff;
}

.calculator .clear:hover, .calculator .operations:hover {
    background: #ff5e5e;
}

.calculator .inputArea {
    grid-column: span 4;
    padding: 20px 10px;
    outline: none;
    border: none;
    font-size: 1.3em;
    text-align: center; 
}

.calculator .plus {
    grid-row: span 2;
    height: 120px;
    line-height: 120px;
}

.calculator .equal {
    width: 120px;
    grid-column: span 2;
    background: #4b7bec;
}

#history {
    margin-left: 20px;
    width: 240px;
    height: 371.2px;
    overflow-y: scroll;
    font-size: 1.1em;
    background: #4b7bec;
    box-sizing: border-box;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

#history::-webkit-scrollbar {
    width: 0;
}

#history h2 {
    padding: 10px 0px;
    font-size: 1.2em;
    
}

#history p:last-child {
    font-size: 1.3em;
    font-weight: 500;
    color: #eee;
   
}
#history button{ 
    display: inline-block;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 2px 16px;
    height: 32px;
    min-width: 60px;
    min-height: 32px;
    border: none;
    color: #fff;
    background-color: #4f545c;
    transition: background-color .17s ease,color .17s ease;

}
#history button:hover{
    background: #ff5e5e
}