* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
    min-height: 100vh; /* Ensures the body takes up the full height of the viewport */
    background: #182c61;
    flex-direction: row; /* Aligns elements side by side (calculator and history) */
    gap: 20px; /* Adds space between calculator and history */
}

.calculator {
    width: 240px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-items: center; /* Centers items horizontally within the grid */
    align-items: center; /* Centers items vertically within the grid */
}

.calculator span {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #eee;
    font-size: 1.2em;
    color: #333;
    font-weight: 500;
    border-radius: 8px;
    transition: background 0.3s ease;
}

.calculator span:hover {
    background: #ddd;
}

.calculator .operations {
    background: #393e46;
    color: #fff;
}

.calculator .clear {
    background: #fd7272;
    color: #fff;
}

.calculator .clear:hover, .calculator .operations:hover {
    background: #ff5e5e;
}

.calculator .inputArea {
    grid-column: span 4;
    padding: 20px 10px;
    outline: none;
    border: none;
    font-size: 1.3em;
    text-align: center; /* Centers the input text */
}

.calculator .plus {
    grid-row: span 2;
    height: 120px;
    line-height: 120px;
}

.calculator .equal {
    width: 120px;
    grid-column: span 2;
    background: #4b7bec;
}

#history {
    margin-left: 20px;
    width: 240px;
    height: 371.2px;
    overflow-y: scroll;
    font-size: 1.1em;
    background: #4b7bec;
    box-sizing: border-box;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

#history::-webkit-scrollbar {
    width: 0;
}

#history h2 {
    padding: 10px 0px;
    font-size: 1.2em;
    
}

#history p:last-child {
    font-size: 1.3em;
    font-weight: 500;
    color: #eee;
   
}
